.tm-mb-30 {
    margin-bottom: 30px;
}

.tm-bg-color-primary {
    background-color: #76cdd8
}

.tm-bg-color-secondary {
    background-color: #119898
}

.tm-col-md-reverse {
    flex-direction: row-reverse;
}

.btn {
    border: none;
}

.btn:hover {
    background-color: rgb(118, 205, 216)
}

.tm-card:nth-child(2):hover h2,
.tm-card:hover p,
.tm-card:hover q {
    color: #76cdd8
}

.tm-card:hover .tm-text-color-white.small.tm-font-thin.mb-0 {
    color: white
}

.tm-card:nth-child(2) h2 {
    color: #76cdd8;
}

.tm-card {
    position: relative;
}

.tm-card:nth-child(2n+1):hover>div:nth-child(2):after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100px 100px 0;
    border-color: transparent #76cdd8 transparent transparent;
}

.tm-card:nth-child(2n):hover>div:nth-child(2):after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100px 0 0;
    border-color: #76cdd8 transparent transparent transparent;
    ;
}

.btn-primary,
.btn-secondary {
    background-color: #119898
}

.tm-feature-list {
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 25px;
}

.img-fluid:hover {
    transform: scale(1.1, 1.1);
}

.tm-pricing-table {
    width: 93%;
    height: 90%;
    border-color: #119898;
}

.container>section:nth-child(5)>div:nth-child(2) .tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4
}

.container>section:nth-child(5)>div:nth-child(2) .tm-pricing-table:hover .btn {
    background: #24d4d4
}

.container>section:nth-child(5)>div:nth-child(3) .tm-pricing-table:hover .btn {
    background: #24d4d4
}

.container>section:nth-child(5)>div:nth-child(3) .tm-pricing-table:hover .tm-pricing-discount {
    display: block;
}
.container>section:nth-child(5)>div:nth-child(3) .tm-pricing-table:hover .tm-pricing-discount>.tm-pricing-discount__star{
   color: red;
}
.container>section:nth-child(5)>div:nth-child(3) .tm-pricing-table:hover .tm-pricing-discount>.tm-pricing-discount__text{
    color: #24d4d4;
 }
.container>section:nth-child(5)>div:nth-child(3) .tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
    height: 95%;
}