/*
  * Colors references

  header bg-color: #99ccff;
  footer bg-color: #162b4d;
  header hover: #162b4d;
  text color: #484848;

  .post-1 {
    background: #F3D250;
  }
  .post-2 {
    background: #8D8741;
  }
  .post-3 {
    background: #659DBD;
  }
  .post-4 {
    background: #DAAD86;
  }

  * Feel free to add new colors if you need it
 */


/* Your styles go here */