$background-img:url(/FL14_HW3/homework/img/m-h-day.jpg);
$font-family-header-text:'Hind', sans-serif;
$lenght-of-button:7rem;
$banner-text-font: 'Hind', sans-serif;
$colors: ("mark": rgb(24, 142, 187), "text": #000000, "button":  rgb(87, 140, 2),"header-text": rgb(40, 40, 50), "wall":#ffffff, "card":rgb(38, 40, 50), "gradient-start":rgb(110, 140, 34), "gradient-end": rgb(35, 76, 215), "secondary-text":rgb(200, 200, 200));
