$background-img:url(/FL14_HW3/homework/img/m-h-night.jpg);
$font-family-header-text:'Fresca', sans-serif;
$lenght-of-button:7rem;
$banner-text-font: 'Fresca', sans-serif;
$colors: ("mark": rgb(251,53,40), "text": #ffffff, "button":  rgb(220, 158, 8),"header-text": #ffffff, "wall":rgb(38, 40, 50), "card":rgb(62, 65,80), "gradient-start":rgb(209, 168, 40), "gradient-end": rgb(126, 47, 83), "secondary-text":rgb(200, 200, 200));
