$color-heading:#ffffff;
$color-placeholder:rgb(135, 135, 135);
$color-button: rgb(235, 201, 140);
$font-heading:"Roboto";
$font-content: "Open Sans";
$color-first-section-background:rgb(253, 250, 243);